*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.row{
    padding: 10px;
    width: 100%;
    align-items: center;
    margin: auto;
    
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px 7px rgb(210, 205, 205);
    position: fixed;
    top: 0px;
    
}
.logo{
    padding: 10px 20px;
    margin-left: 160px;
    font-size: 32px;
    color:rgb(33, 16, 164);
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    padding: 20px;
    margin-right: 150px;
}
nav a{
   text-decoration: none;
   padding: 20px 20px;
   color:black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 22px;
}
.row{
    background-image: url(bgimage2.jpg);
    background-size:auto;x

    background-repeat: no-repeat;

}

.text{
    margin:200px 200px
}